{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
<script>

const ticker = "APPL";
const api_key = "b7fa84afea6e45609dd289c0f21b9f62";

function getStockPrice(tickerSymbol, api) {
  const url = `https://api.twelvedata.com/price?symbol=${tickerSymbol}&apikey=${api}`;
  return fetch(url)
    .then(response => response.json())
    .then(data => data.price.slice(0, -3))
    .catch(error => console.error(error));
}

function getStockQuote(tickerSymbol, api) {
  const url = `https://api.twelvedata.com/quote?symbol=${tickerSymbol}&apikey=${api}`;
  return fetch(url)
    .then(response => response.json())
    .catch(error => console.error(error));
}

getStockQuote(ticker, api_key)
  .then(stockData => {
    getStockPrice(ticker, api_key)
      .then(stockPrice => {
        const exchange = stockData.exchange;
        const name = stockData.name;
        console.log(name, stockPrice);
      });
  });
</script>
{% endblock %}
